<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-4">
      <%= search_form_for @q,
                          url: filter_movies_path,
                          data: {
                            turbo_frame: "search"
                          } do |f| %>
        <div class="form-row">
          <div class="form-group">
            <%= f.label :title %>
            <%= f.search_field :title_cont,
                               class: "form-control",
                               autocomplete: "off" %>
          </div>
        </div>
        <div class="form-group row">
          <%= f.label :year %>
          <div class="col">
            <%= f.search_field :year_gteq,
                               class: "form-control",
                               autocomplete: "off" %>
          </div>
          <div class="col">
            <%= f.search_field :year_lteq,
                               class: "form-control",
                               autocomplete: "off" %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <%= f.label "Director's name" %>
            <%= f.search_field :director_first_name_or_director_last_name_cont,
                               class: "form-control",
                               autocomplete: "off" %>
          </div>
        </div>
        <%= f.submit %>
      <% end %>
    </div>
    <div class="col-sm-8">
      <%= render "movies_list" %>
    </div>
  </div>
</div>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere sit aliquid enim maxime fugiat atque distinctio tempore porro? Nisi inventore accusamus repudiandae quisquam nam explicabo mollitia tempora ut placeat velit.</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere sit aliquid enim maxime fugiat atque distinctio tempore porro? Nisi inventore accusamus repudiandae quisquam nam explicabo mollitia tempora ut placeat velit.</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere sit aliquid enim maxime fugiat atque distinctio tempore porro? Nisi inventore accusamus repudiandae quisquam nam explicabo mollitia tempora ut placeat velit.</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere sit aliquid enim maxime fugiat atque distinctio tempore porro? Nisi inventore accusamus repudiandae quisquam nam explicabo mollitia tempora ut placeat velit.</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere sit aliquid enim maxime fugiat atque distinctio tempore porro? Nisi inventore accusamus repudiandae quisquam nam explicabo mollitia tempora ut placeat velit.</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere sit aliquid enim maxime fugiat atque distinctio tempore porro? Nisi inventore accusamus repudiandae quisquam nam explicabo mollitia tempora ut placeat velit.</p>
